
nav
{
    background-image: url('dossier img/img100.png'); url('dossier/img/kalaliso.png');
    width: 1250px;
    height: 100px;
    text-align: right;
    position: fixed;
    padding: 1px;
    top: 0px
}
nav ul
{
    list-style-type: none;
}
nav li
{
    display: inline-block;
    margin: 1px;
    padding-right: 10px;

}
a
{
    font-size: 15px;
    color: #292cfa;
    padding-bottom: 5px;
}
 a:hover
{
    color: #fcff74;
    border-bottom: 1px solid;

}
body
{
    background-color: #f0fffa;
    font-family:'trebuchet MS', Arial, sans-serif

}
bloc-page
{
    width: 900px;
    margin: auto;
}
h1
{
        font-feature-settingsfamily: dayrom; sans-serif
        font-weight normal;
        text-transform: none;
}
article
{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    top: auto;
}
aside
{
    text-align: left;
    font-family: 'trebuchet MS', Arial, sans-serif;
    text-transform: none;
}
p, h1
{
    text-align: left;
    border: 1px solid black;
    width: 500px;
    padding: 10px;
}
footer

{


}
ul
{
    list-style-type: none;

}