
nav
{
    background-image: url('dossier img/img100.png');
    width: 1330px;
    height: 100px;
    text-align: right;
    position: fixed;
    padding: 0px;
    top:0px
}
nav ul
{
    list-style-type: none;
    text-align: right;
}
nav li
{
    display: inline-block;
    margin: 10px;
    padding-right: 1px;
    text-align: right;
}
a
{
    font-size: 15px;
    color: #292cfa;
    padding-bottom: 1px;
}
 a:hover
{
    color: #fcff74;
    border-bottom: 1px solid;

}
body
{
    background-color: #f0fffa;
    font-family:'trebuchet MS', Arial, sans-serif

}
bloc-page
{
    width: 900px;
    margin: auto;
}
h1
{
        font-family: dayrom, sans-serif
        font-weight normal;
        text-transform: none;
}
article
{
    display: block;
    vertical-align: top;
    text-align: right;
    top: auto;
}
aside
{
    text-align: right;
    font-family: 'trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;

}
image
{
    display: block;
    text-align: right;
    position: fixed;
}
p, h1
{
    text-align: left;
    border: 1px solid black;
    width: 400px;
    padding: 10px;
}
h2
{
    display: inline-block;
    text-align: left;
    border: 1px solid black;
    width: 100px;
    height: auto;
    padding: 1px;
}
footer
{

}


