
nav
{
    background-image: url('dossier img/img100.png');
    width: 1330px;
    height: 100px;
    text-align: right;
    position: relative;
    padding: 0px;
    top:0px
}
nav ul
{
    list-style-type: none;
    text-align: right;
}
nav li
{
    display: inline-block;
    margin: 10px;
    padding-right: 1px;
    text-align: right;
}
a
{
    font-size: 15px;
    color: #292cfa;
    padding-bottom: 1px;
}
 a:hover
{
    color: #fcff74;
    border-bottom: 1px solid;

}
body
{
    background-color: #f0fffa;
    font-family:'trebuchet MS', Arial, sans-serif

}
bloc-page
{
    width: 1130px;
    margin: 10px;
}
h2, h4
{
        font-family: dayrom, sans-serif;
        display: block;
        text-align: right;
        position: relative;
        width: 200px;
        height: 10px;
        padding: 0px;
}
h1
{
    background-color: #4ebeff;
    display: block;
    border: #9efcff;
    width:500px;
    height: 100px;
    border: 1px solid black;
    overflow: auto;
    margin: 15px;
    left: auto;

}
aside
{
    display: inline-flex;
    vertical-align: top;
    text-align:right;
    width: auto;
    height: 50px;
    font-family: 'trebuchet MS', Arial, sans-serif;
    text-transform: uppercase;
    padding: 10%;
    float: right;
    margin-left: 150px;
}
article
{
    display: inline-block;
    vertical-align: 10px;
    text-align: left;
    top: 0px;
    margin-bottom: 5%;
}

p
{
    text-align: right;
    display: inline-block;
    width: 450px;
    padding: 25px;
    position: relative;

}
 footer
{
         display: inline-block;
         text-align: right;
         vertical-align: 20px;
         width: 1120px;
         height: 20px;
         padding: 10px;
         list-style-type: none;

 }


